body {
    margin: 2em auto;
    padding: .2em;
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #EEEEEE;
    font-size: 2.7vh;
}

h1 {
    font-size: 3.7vh;
}

h2 {
    font-size: 3.2vh;
}

.small_text {
    font-size: 1.7vh
}

.forecast_day {
    display: flex;
    align-items: center;
    height: 3em;
    background: #DDDDDD;
    padding: .5em;
}

.forecast_details > table {
    font-size: 2.2vh;
    text-align: center;
    width: 100%;
}

.forecast_datapoint {
    padding: .2em;
}

input[type=checkbox]{
    display: none
}

.forecast_details {
    display: none;
    padding: .5em;
}

input[type=checkbox]:checked ~ .forecast_details {
    display: block
}

input#address {
    width: 70%;
    font-size: 2.2vh
}

input#submit {
    font-size: 2.2vh
}

